/[Ll]ibrary/
/[Tt]emp/
/[Ll]ogs/
/[Oo]bj/
/[Rr]esults/
/[Oo]utput/
/[Mm][Ss][Bb]uild/
/.vs/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pdb
/astra.log

/[Aa]ssets/[Dd]ependencies
/[Aa]ssets/[Dd]ependencies.meta
/[Aa]ssets/[Nn]u[Gg]et.config
/[Aa]ssets/[Nn]u[Gg]et.config.meta
/*.props
